.about_us {
    @extend %content;

    overflow: hidden;
    background: $white01;

    &-inner {
        @include site-width;

        padding: 20px 15px 155px;
    }

    // info block
    &-info {
        display: flex;
        align-items: flex-start;
        margin-bottom: 80px;
    }

    &-person {
        margin-right: 40px;
        position: relative;

        &-info {
            position: absolute;
            left: -25px;
            bottom: -15px;
            background: $green01;
            padding: 20px 25px;
            min-width: 305px;
        }
    }

    &-image {
        &-wrapper {
            max-width: 400px;
            overflow: hidden;
            border-radius: 5px;
        }
    }

    &-name {
        font-size: 19px;
        line-height: 25px;
        color: $white01;
        margin-bottom: 10px;
    }

    &-position {
        color: $white01;
        font-size: 14px;
    }

    &-mission {
        max-width: 375px;
        margin-right: 80px;

        &-title {
            color: $black01;
            font-size: 24px;
            margin-bottom: 10px;
            line-height: 33px;
        }

        &-description {
            font-size: 16px;
            line-height: 26px;
            color: $black02;
            margin-bottom: 20px;
        }
    }

    // sign of the person
    &-sign {
        &-wrapper {
            margin-bottom: 50px;
            width: 220px;
        }
    }

    &-video {
        display: flex;
        align-items: center;

        &-icon {
            @include size(19px, 23px);

            margin: auto;
            fill: $white01;

            &-wrapper {
                @include size-circle(44px);

                background: $green01;
                display: flex;
                margin-right: 25px;
            }
        }

        &-text {
            font-size: 13px;
            color: $black02;
        }
    }

    &-features {
        max-width: 230px;
        width: 100%;

        &-number {
            display: block;
            font-size: 67px;
            color: $green01;
            font-weight: 600;
            margin-bottom: 5px;
        }

        &-title {
            display: block;
            font-size: 35px;
            font-weight: 600;
            color: $green01;
            margin-bottom: 5px;
        }

        &-item {
            &+& {
                margin-top: 35px;
            }
        }

        &-text {
            color: $black02;
            font-size: 16px;
            line-height: 21px;
        }
    }

    &-title {
        @extend %main-heading;
    }

    &-link {
        @include button(0 40px, 46px);
    }

    // achievements
    &-achievements {
        position: relative;
        background: $grey01;
        padding: 90px 0;
        text-align: center;
        margin-bottom: 95px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            background: $grey01;
            width: 100%;
        }

        &::before {
            left: 100%;
        }

        &::after {
            right: 100%;
        }

        &-main_title {
            margin-bottom: 70px;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
        }

        &-item {
            margin-right: 30px;
            margin-bottom: 35px;
            max-width: 370px;
            width: 100%;

            &:nth-child(3n) {
                margin-right: 0;
            }
        }

        &-title {
            font-size: 25px;
            color: $black01;
            margin-bottom: 15px;
        }

        &-description {
            color: $black02;
            font-size: 16px;
        }

    }

    &-team {
        margin-bottom: 80px;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }

        &-description {
            color: $black02;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 50px;
        }

        &-list {
            display: flex;
        }

        &-item {
            max-width: 265px;
            width: 100%;
            text-align: center;

            &+& {
                margin-left: 35px;
            }
        }

        &-image {
            &-wrapper {
                margin-bottom: 30px;
            }
        }

        &-title {
            font-size: 16px;
            color: $black01;
            margin-bottom: 12px;
        }

        &-title {
            font-size: 14px;
            color: $black02;
            line-height: 19px;
        }
    }

    &-awards {
        background: $grey01;
        padding: 50px;
        margin-bottom: 100px;
        display: flex;

        &-details {
            max-width: 220px;
            margin-right: 35px;
        }

        &-list {
            display: flex;
        }

        &-item {
            &+& {
                margin-left: 10px;
            }
        }

        &-image {
            &-wrapper {
                max-width: 165px;
                width: 100%;
            }
        }
    }

    &-events {
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
        }

        &-list {
            @extend %gallery-list;
        }

        &-item {
            @extend %gallery-item;
        }

        &-image {
            &-wrapper {
                @extend %gallery-image-wrapper;
            }
        }

        &-info {
            @extend %gallery-info;
        }

        &-title {
            @extend %gallery-title;
        }

        &-text {
            @extend %gallery-text;
        }

        &-link {
            @extend %gallery-link;
        }
    }

}