.team {
    @extend %content;

    &-inner {
        @include site-width;

        padding: 20px 0 155px;
    }

    &-content {
        @extend %content-inner;
    }

    &-main {
        @extend %main;
    }

    &-header {
        @extend %content_header;

        &-icon {
            @extend %content_header-icon;
        }

        &-actions {
            @extend %content_header-actions;
        }

        &-filter {
            @extend %content_header-filter;

            &-wrapper {
                @extend %content_header-filter-wrapper;
            }
        }

        &-text {
            @extend %content_header-text;
        }
    }

    &-count {
        &-text {
            @extend %count_text;
        }
    }

    // ASIDE
    &-filter {
        @extend %filter;
    }

    &-form {
        &-title {
            @extend %title;

            padding-right: 30px;
            margin-bottom: 20px;
        }
    }

    &-input {
        @extend %input;

        max-width: 105px;

        &+& {
            margin-left: 20px;
        }

        &-field {
            display: flex;
            margin-bottom: 35px;
        }
    }

    &-radio {
        &-wrapper {
            &+& {
                margin-top: 30px;
            }

            &--border {
                @extend %action_field--border;
            }
        }

        &-field {
            @extend %radio-field;
        }

        &-label {
            @extend %radio-label;
        }

        &-input {
            @extend %radio;
        }

        &-title {
            @extend %title;

            margin-bottom: 25px;
        }
    }

    &-checkbox {
        &-wrapper {
            margin-bottom: 30px;
        }

        &-field {
            @extend %checkbox-field;
        }

        &-label {
            @extend %checkbox-label;
        }

        &-input {
            @extend %checkbox;
        }

        &-title {
            @extend %title;

            margin-bottom: 25px;
        }
    }

    &-submit {
        @extend %button;
    }

    // ITEM
    &-item {
       @extend %gallery_row-item;
    }

    &-info {
        @extend %gallery_row-hero;
    }

    &-image {
        &-wrapper {
            @extend %gallery_row-image-wrapper;
        }
    }

    &-socials {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        transition: margin $animation-speed;

        &-list {
            display: flex;
            align-items: center;
        }

        &-item {
            &+& {
                margin-left: 15px;
            }
        }

        &-link {
            @include size-circle(44px);

            background: $white01;
            opacity: 0.3;
            transition: opacity $animation-speed;
            display: flex;

            &:hover {
                opacity: 1;
            }

            &:hover>.socials-icon {
                opacity: 0.25;
            }
        }

        &-icon {
            fill: $white01;
        }
    }

    &-stats {
        padding: 0 20px;

        &-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-item {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        &-key {
            color: $black01;
            opacity: 0.6;
            font-size: 13px;
        }

        &-value {
            font-size: 16px;
            line-height: 26px;
            color: $black01;
            font-weight: 600;
        }
    }

    &-position {
        @extend %gallery_row-position;
    }

    &-title {
        @extend %title;

        margin-bottom: 15px;
    }

    &-description {
        @extend %gallery_row-description;
    }

    &-price {
        margin-bottom: 20px;

        &-list {
            display: flex;
        }

        &-item {
            display: flex;
            align-items: center;

            & + & {
                margin-left: 25px;
            }
        }

        &-icon {
            margin-right: 10px;
            fill: $green01;
            width: 15px;
            height: 15px;
        }

        &-count {
            font-size: 16px;
            color: $black01;
            font-weight: 600;
        }
    }

    &-tags {
        @extend %gallery_row-tags;

        &-list {
            @extend %gallery_row-tags-list;
        }

        &-item {
            @extend %gallery_row-tags-item;
        }

        &-link {
            @extend %gallery_row-tags-link;
        }
    }

    &-link {
        @extend %button;
    }

}