.banner {
    background: url('../banner.png') center/cover no-repeat;
    position: relative;

    &::after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    &-inner {
        @include site-width;

        position: relative;
        z-index: 1;
        padding: 175px 0 125px;
    }

    &-title {
        font-size: 50px;
        color: $white01;
        font-weight: 400;
        position: relative;
        padding-left: 35px;

        &::before {
            content: '';

            
            width: 4px;
            background: $green01;
            height: 70px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}