.html {
    font-size: 62.5%;
    height: 100%;
}

.body {
    font-family: $font-base;
    font-size: $base-font-size;
    height: 100%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    line-height: 1;
    display: flex;
    flex-direction: column;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

textarea {
  border: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
    vertical-align: middle;
}

textarea {
    resize: none;
}

section {
    position: relative;
}

input,
select,
button {
    outline: none;
}

button {
    border: none;
    padding: 0;
    background: none
}

input {
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
}
