%title {
    font-size: 20px;
    line-height: 30px;
    color: $black01;
    font-weight: 400;
    text-transform: uppercase;
}

%text {
    font-size: 16px;
    line-height: 20px;
    color: $black01;
    font-weight: 400;
}
